body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
}

.logo {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 5px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.link {
  list-style: none;
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.block-one {
  width: 95%;
  height: 300px;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.block-two {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.article {
  display: flex;
  gap: 20px;
  flex: 1;
  margin-top: 20px;
}

.text-box {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}

.cookie-consent {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateY(0%);
  background-color: black;
  color: white;
  width: 200px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
}

.top-consent {
  display: flex;
  justify-content: space-around;
}

.exite {
  position: absolute;
  right: 0;
  padding: 10px;
}

.main-consent {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  justify-content: space-between;
  height: 90%;
  padding: 10px;
}

#cookie-logo {
  width: 100%;
  border: 1px solid blue;
  height: 40%;
}

.consenst-info {
  width: 150px;
}

.consent-btn {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}
